body{
	margin: 0;
	padding:0;
	color: #000;
	text-align:center;
	}
img, p, h1, h2, h3,h4, input,textarea, ul,li,a{
	padding:0;
	margin:0;	
}
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td,  
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,  
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
  vertical-align: baseline;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  outline: 0; }

a{text-decoration: none;color:black;}

.wrapper{
	width:100%;
	margin: 0 auto;
	background-color:green;
}
ul{list-style:none;	margin-bottom:20px;}
.horizontal-menu li {display:inline-block;}
.horizontal-menu li{margin:0 0 0 -4px;}
.vertical-menu li{display:block;width:100%;margin:0 auto;}

.red{background-color:red;}
.yellow{background-color:yellow;}
.blue{background-color:blue;}